body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BFC9AD;
}
a{
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: #B2534E;
}
#minhafoto{
    border-radius: 50%;
    width: 200px;
}
p{
    background-color: #9CA89F;
}
.titulo {
    color: #2D4F2F;
}
.info{
    font-family: monospace, serif;
}
#nacionalidade{
    font-weight: bold;
}
#cidade{
    font-style: italic;
}
#destaque{
    font-size: 1.5em;
}